In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [7]:
df = pd.read_csv("multiple_linear_regression_dataset.csv", sep=";")
df.head()

   deneyim  maas  yas
0      0.5  2500   22
1      0.0  2250   21
2      1.0  2750   23
3      5.0  8000   25
4      8.0  9000   28

In [15]:
#0 ve 2. sütunları alacak.
x = df.iloc[:,[0,2]].values
y = df.maas.values.reshape(-1,1)
#print(x)
mult_lin_reg = LinearRegression()
mult_lin_reg.fit(x,y)

b0 = mult_lin_reg.intercept_
print("b0: ", b0)

b1_b2 = mult_lin_reg.coef_
print("b1, b2: ", b1_b2)

b0:  [10376.62747228]
b1, b2:  [[1525.50072054 -416.72218625]]

In [19]:
mult_lin_reg.predict(np.array([[10,35],[5,35]]))
#10 yıllık deneyim, 35 yas predict edildi
#5 yıllık deneyim, 35 yas predict edildi

array([[11046.35815877],
       [ 3418.85455609]])